@page
@model ShoppingList.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<a href="\"><strong>Back</strong></a>
<h3 style="text-align:center">Changes have been successfully saved.</h3>
<a style="color:red" href="\List"><strong>List</strong></a>
