@page
@model ShoppingList.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <input type="hidden" asp-for="Listt.Id" />
                <div class="form-group">
                    <label class="control-label" asp-for="Listt.Item"></label>
                    <input class="form-control" asp-for="Listt.Item" required type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="Listt.Quantity"></label>
                    <input class="form-control" asp-for="Listt.Quantity" required type="text" />
                </div>
                <div class="form-group">
                    <div class="col-2 offset-4">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
